
@{
    ViewData["Title"] = "Administração";
}


<div class="row">
    <div class="col-md-6">
        <h2>Altere os dados da loja</h2>
    </div>
</div>
<div>
    <form method="post">
        <div class="row">
            <div class="col-md-3">
                <label for="Number">chave de integração:</label>
            </div>
            <div class="col-md-9">
                <input type="text" id="key" name="key" value="@ViewBag.IntegrationKey" style="height: 50px; width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label for="Number">Número da loja:</label>
            </div>
            <div class="col-md-9">
                <input type="text" id="number" name="number" value="@ViewBag.MallNumber" style="height: 50px; width:100%; ">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button asp-controller="Home" asp-action="About" style="height:50px;float:right">Enviar</button>
            </div>
        </div>
    </form>
</div>

@if(ViewBag.IsUpdated == true)
{
<div class="row">
    <div class="col-md-12">
        <h4 style="color:green">Informações atualizadas com sucesso</h4>
    </div>
</div>

}







